* {
  padding: 0;
  margin: 0;
}

html {
  background: url(images/Desktop.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  height: 90vh;
}

.container {
  /* border: solid red; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card {
  /* border: solid blue; */
  display: flex;
  margin: 0;
  padding: 0;
  background-color: transparent;
  flex-direction: column;
  justify-content: center;

  min-width: 20%;
  min-height: 60%;

  border-radius: 20px;
}

.top-part {
  /* background-color: red; */
  background-image: url("images/Oval.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-grow: 2;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.middle-part {
  background-color: white;
  display: flex;
  flex-grow: 2;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.image-victor {
  display: flex;
  /* background-color: red; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-bottom: 70px;
}

.image-victor img {
  border-radius: 100px;
  background-color: white;
  border: solid white;
  border-width: 6px;
}

.image-victor h2 {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-top: 25px;
}

.image-victor h3 {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #6b7082;
  margin-top: 10px;
}

.image-victor h4 {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #6b7082;
  margin-top: 25px;
}

.image-victor div {
  /* border: solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 130px;
}

.bottom-part {
  border: solid transparent;
  border-top: solid #e8e9ec;
  background-color: white;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-around;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.bottom-subpart {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top-title {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #2e3349;
}

.sub-title {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #6b7082;
}
